#pajina{
    background-image: url("star.gif");
    background-position: center;
    background-size: 100%;
    text-align: center;
}
#lienzo{
    background-image: url("marte.jpg");
    border-width: 10px;
    border-style: dashed;
    border-color: rgb(3, 37, 66);
    border-radius: 100px;
}
#boton,#color,#ancho{
font-size: 20px;
}